<nav class="NAVBAR">
    <ul class="nav-list">
        <li class="logo">
            <img src="https://res.cloudinary.com/{{ config.CLOUD_NAME }}/image/upload/c_scale,h_80,w_80/c_crop,h_130,w_200/f_png/dte4kfjfr5tfm9v3ncuh.jpg" alt="SSIS Logo">
        </li>

        <li>
            <a class="nav-item" id="student" href="/student">
                Students
            </a>
        </li>

        <li>
            <a class="nav-item" id="course" href="/course">
                Courses
            </a>
        </li>

        <li>
            <a class="nav-item" id="college" href="/college">
                Colleges
            </a>
        </li>

    </ul>
</nav>
