.logo img {
    margin-top: -24px;
}

.header {
    background-color: black;
    padding: 4px;
    max-height: 60px;
}

body {
    background: linear-gradient(to right, #9dc248, #82cc8c);
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
}
